:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --amarelo: #FACF9D;
  --amarelo-claro: #FBF0DD;
  --azul-claro: #C8DEEF;
  --azul-escuro: #2E7BA2;
  --azul-gradiente-boreal: #304968;
  --branco: #eee;
  --cinza: #444;
  --lilas: #B6BCFF;
  --mostarda: #DF9010;
  --preto: #111;
  --roxo-boreal: #4650BD;
  --verde-gradiente-boreal: #36C1A0;
  --verde-escuro: #008364;
  
  --boreal-gradiente: linear-gradient(180deg, var(--azul-gradiente-boreal) 0%, var(--verde-gradiente-boreal) 52.6%, var(--roxo-boreal) 100%);
  --roxo-profundo: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0E0E3C;
  --verao-gradiente: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, var(--amarelo) 100%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
